{
  "name": "minimal-sample",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "node index.js"
  },
  "author": "Mickaël Andrieu <mickael.andrieu@solvolabs.com>",
  "license": "MIT",
  "dependencies": {
    "express": "^4.17.1",
    "express-jwt": "^6.0.0",
    "jsonwebtoken": "^8.5.1",
  }
}
